
@{
    ViewBag.Title = "Studio 지금";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section class="w3l-main-slider">
    <!-- main-slider -->
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view">
                            <div class="banner-info container">
                                <h5 class="banner-text">무인 스튜디오 <b>지금</b></h5>
                                <h3 class="banner-text">나만의 스튜디오</h3>
                                <br />
                                <p>
                                    고객님들의 편의를 위해서 저렴한 비용으로 스튜디오 대여를 진행하는<br />
                                    스튜디오 지금,
                                </p>
                                <p>
                                    쾌적한 공간에서 다양한 컨셉으로 촬영 해보세요.
                                </p>
                                <a href="Home/About?Length=4" class="btn btn-primary btn-style">보기</a>
                                <a href="Home/Contact?Length=4" class="btn transparent-btn btn-style ml-2">예약</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1">
                            <div class="banner-info container">
                                <h5 class="banner-text">무인 스튜디오 <b>지금</b></h5>
                                <h3 class="banner-text">평생 함께 할 추억</h3>
                                <br />
                                <p>
                                    지금, 잊지못할 추억을 기록으로 남겨보세요. 당신의 기억속에 오래도록 함께...
                                </p>
                                <p>
                                    사진은 평생 지워지지 않습니다.
                                </p>
                                <a href="Home/About?Length=4" class="btn btn-primary btn-style">보기</a>
                                <a href="Home/Contact?Length=4" class="btn transparent-btn btn-style ml-2">예약</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2">
                            <div class="banner-info container">
                                <h5 class="banner-text">무인 스튜디오 <b>지금</b></h5>
                                <h3 class="banner-text">다양하게 활용</h3>
                                <br />
                                <p>
                                    행사, 파티, 쇼핑몰 촬영 등 모든 것에 활용해 보세요. 
                                </p>
                                <p>
                                    당신의 모든 활동을 응원합니다.
                                </p>
                                <a href="Home/About?Length=4" class="btn btn-primary btn-style">보기</a>
                                <a href="Home/Contact?Length=4" class="btn transparent-btn btn-style ml-2">예약</a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>
<section class="w3l-about" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row middle-section">
                <div class="col-lg-6 section-width align-self">
                    <h5>프라이빗 스튜디오 <b>지금</b></h5>
                    <h2>전문 디자이너가 구성한 공간</h2>
                    <p class="mt-4 pb-3">
                        각종 도구와 아이템을 구비한 깨끗하고 감성적인 스튜디오 공간을 마음껏 활용해 보세요. 당신을 위한 맞춤 스튜디오 <b>지금</b> 입니다.
                    </p>
                    <a href="Home/Contact?Length=4" class="btn btn-outline-primary btn-outline-style mt-4"> 예약 문의하기</a>
                </div>
                <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-lg-0 pt-md-4">
                    <div class="position-relative img-border">
                        <img src="~/images/about.jpg" class="img-fluid video-popup-image" alt="video-popup">

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/1wEKS6nTsS0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home page service grids -->
<section id="services" class="home-services py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="title-big">제공되는 서비스</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-pencil-square-o"></span>
                    </div>
                    <h4 class="number">01</h4>
                    <h4><a href="Home/About?Length=4">21평의 독립형 공간</a></h4>
                    <p>
                        세련된 독립된 공간에서 예쁜 사진과 추억을 남겨보세요.<br />
                        공간은 다양하게 활용이 가능합니다.
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-shower"></span>
                    </div>
                    <h4 class="number">02</h4>
                    <h4><a href="Home/About?Length=4">촬영 컨셉에 맞게 셋팅</a></h4>
                    <p>
                        소정의 테이블 셋팅비 발생 (유료) <br />
                        컨셉에 맞게 원하는 셋팅을 미리 말씀하시면 촬영전 셋팅해 드립니다.
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-bed"></span>
                    </div>
                    <h4 class="number">03</h4>
                    <h4><a href="Home/About?Length=4">각종 소품 및 인테리어 제공</a></h4>
                    <p>
                        빔 프로젝트 대여 (유료) <br />
                        면사포, 화관, 꽃팔찌, 커트러리, 간접조명, 삼각대, 블루투스 스피커 무료 대여
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-home"></span>
                    </div>
                    <h4 class="number">04</h4>
                    <h4><a href="Home/About?Length=4">반려동물 동반 가능</a></h4>
                    <p>
                        반려동물 동반 입장이 가능합니다.<br />
                        맹견이나 대형견은 꼭 입마개를 착용해 주세요. 
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-bath"></span>
                    </div>
                    <h4 class="number">05</h4>
                    <h4><a href="Home/About?Length=4">파티 드레스 대여</a></h4>
                    <p>
                        소정의 대여비 발생 (유료) <br />
                        사이즈, 색상, 스타일 모두 상이함 원하는 드레스 착용 가능
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-picture-o"></span>
                    </div>
                    <h4 class="number">06</h4>
                    <h4><a href="Home/About?Length=4">배달음식 취식 가능</a></h4>
                    <p>
                        음식 섭취는 미리 말씀해 주세요.<br />
                        음식 섭취하실 수 있는 테이블을 따로 설치 해드립니다.
                    </p>
                    <a href="Home/About?Length=4" class="read">더 보기...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page service grids -->
<!-- grids -->
<section class="grids-1 py-5">
    <div class="grids py-lg-5 py-md-4">
        <div class="container">
            <h3 class="title-big">어떻게 이용하나요?</h3>
            <div class="row text-center grids-gap">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="column">
                        <a href="Home/About?Length=4"><img src="~/images/w1.jpg" alt="" class="img-responsive" /></a>
                        <h4><a href="Home/About?Length=4">백일상</a></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-sm-0 mt-4">
                    <div class="column">
                        <a href="Home/About?Length=4"><img src="~/images/w2.jpg" alt="" class="img-responsive" /></a>
                        <h4><a href="Home/About?Length=4">기념촬영</a></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-4">
                    <div class="column">
                        <a href="Home/About?Length=4"><img src="~/images/w3.jpg" alt="" class="img-responsive" /></a>
                        <h4><a href="Home/About?Length=4">Bridal Shower</a></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-lg-0 mt-4">
                    <div class="column">
                        <a href="Home/About?Length=4"><img src="~/images/w4.jpg" alt="" class="img-responsive" /></a>
                        <h4><a href="Home/About?Length=4">Party</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //grids -->
<!--  Fun facts section -->
<section class="w3l-stats">
    <div class="map-iframe">
        <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d798.854140220684!2d127.15340762923009!3d36.78456167282815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ad7d942b20ef5%3A0x5f340a4c40eb683d!2z7Lap7LKt64Ko64-EIOyynOyViOyLnCDrj5nrgqjqtawg7LKt66Oh64-ZIDE2NC0x!5e0!3m2!1sko!2skr!4v1638169789778!5m2!1sko!2skr"
                    width="100%" height="400" frameborder="0" style="border: 0px; pointer-events: none;"
                    allowfullscreen=""></iframe>
        </center>
    </div>
</section>
<!--  //Fun facts section -->
<!-- jQuery and Bootstrap JS -->
<script src="~/js/jquery-3.3.1.min.js"></script>

<!-- Template JavaScript -->
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script>$(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });</script>

<script src="~/js/owl.carousel.js"></script>

<!-- script for carousel1 -->
<script>$(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: false,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>$(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })</script>
<!-- //script for owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<script>$(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });</script>
<!-- disable body scroll which navbar is in active -->
